body { background-color: #cf1c1e;
    font-family: 'ProximaReg';}

h1 {
    font-family: 'ProximaBlack';
    text-transform: uppercase;
    font-size: 72px;
    text-align: center;
    color: #ffab40;
    background-color: #cf1c1e;
    width: 100%;
    letter-spacing: 5px;
    line-height: 72px;
}

h2 {

    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    color: white;
    background-color: #a61618;
    width: 100%;
    letter-spacing: 2px;
    line-height: 50px;
    margin: 0;
}


.main {
    background: url(../img/_bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



p {
    font-size: 1.3rem;
}

.columns {
    /*border: 1px solid white;*/
    text-align: center;
height: 400px;
    display: table;


}

.country {    display: table-cell;
    vertical-align: middle;

}

.countryname {
margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
}

.countrycounter {
    margin-top: 18px;
    color: #cf1c1e;
    font-size: 18px;
}

.countrylikes { margin-top: 42px; color: #eee;}