@font-face {
  font-family: 'ProximaBlack';
  src: url('ProximaNovaBlack.eot'); /* IE9 Compat Modes */
  src: url('ProximaNovaBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ProximaNovaBlack.woff') format('woff'), /* Modern Browsers */
       url('ProximaNovaBlack.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ProximaNovaBlack.svg#5216c1cacb478b35a513d81c80dc8ad7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
    font-family: 'ProximaReg';
    src: url('ProximaNovaReg.eot'); /* IE9 Compat Modes */
    src: url('ProximaNovaReg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('ProximaNovaReg.woff') format('woff'), /* Modern Browsers */
    url('ProximaNovaReg.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('ProximaNovaReg.svg#2c1459d58560f08b4b0586fbe80aa4cd') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

