@import (inline) 'vendor/normalize.css';
@import (inline) 'vendor/foundation.css';

@import 'parts/variables';
@import 'parts/mixins';
@import 'parts/sprites';

.font-face(@ProximaNova, proxima-nova_regular, @weightRegular);
.font-face(@ProximaNova, proxima-nova_regular-italic, @weightRegular, italic);
.font-face(@ProximaNova, proxima-nova_black, @weightBold);

body {
    background-color: #cf1c1e;
    font-family: @fontFamilyProximaNova;
}

h1 {
    font-weight: @weightBold;
    text-transform: uppercase;
    font-size: 72px;
    text-align: center;
    color: #ffab40;
    background-color: #cf1c1e;
    width: 100%;
    letter-spacing: 5px;
    line-height: 72px;
}

h2 {

    text-transform: uppercase;
    font-size: 18px;
  line-height: 24px;
    text-align: center;
    color: white;
    background-color: #a61618;
    width: 100%;
    letter-spacing: 2px;
  padding: 16px 0;
    margin: 0;
}

.main {
    background: url('@{staticImagesPath}/_bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p {
    font-size: 1.3rem;
}

.columns {
    /*border: 1px solid white;*/
    text-align: center;
    height: 400px;
    display: table;
}

.country {
    display: table-cell;
    vertical-align: middle;
}

.country-name {
    margin-top: 23px;
    color: #ffffff;
    font-size: 18px;
}

.country-counter {
    margin-top: 18px;
    color: #cf1c1e;
    font-size: 18px;
}

.country-likes {
    margin-top: 42px;
    color: #eee;
    font-size: 0;
    text-size-adjust: 100%;
    white-space: nowrap;

    .social-link {
        display: inline-block;
        text-decoration: none;
        font-size: 14px;
        line-height: max(@facebook-icon-height, @vk-icon-height, @twitter-icon-height);

        & + .social-link {
            margin-left: 1.6em;
        }

        .social-icon {
            display: inline-block;
            vertical-align: middle;
        }

        .likes-count {
            position: relative;
            top: 0.08em;
            color: #fff;
            vertical-align: middle;
            margin-left: 0.7em;
        }
    }

    .social-icon--fb {
        .retina-sprite(@facebook-icon-group);
    }

    .social-icon--vk {
        .retina-sprite(@vk-icon-group);
    }

    .social-icon--twitter {
        .retina-sprite(@twitter-icon-group);
    }

    .social-link:hover {
        .social-icon--fb {
            .retina-sprite(@facebook-icon-hover-group);
        }

        .social-icon--vk {
            .retina-sprite(@vk-icon-hover-group);
        }

        .social-icon--twitter {
            .retina-sprite(@twitter-icon-hover-group);
        }
    }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 32px;
    letter-spacing: 2px;
    line-height: 32px;
  }

}