@import 'parts/variables';

@import 'parts/reset';

@import 'parts/mixins';

@import 'parts/posts';

@import 'parts/scrollbar';

@import 'parts/icons';

html{
    font-family: @fontFamily;
    font-size: @fontSizeBase;
    color: @black;
}

.wrapper{
    margin: 0 auto;
}

.content-wrapper{
    margin: 0 auto;
}
