{% extends "base.twig" %}

{% block content %}
    {% set rowOpened = false %}

    {% for country in countries %}

        {% if loop.index % 4 == 1 %}
            {% set rowOpened = true %}

            {{ '<div class="row">' }}

            {% include 'country.twig' %}

        {% elseif loop.index % 4 == 0 %}
            {% set rowOpened = false %}

            {% include 'country.twig' %}

            {{ '</div>' }}

        {% else %}
            {% include 'country.twig' %}
        {% endif %}

    {% endfor %}

    {% if rowOpened %}{{ '</div>' }}{% endif %}

{% endblock %}




