@ProximaNova: ProximaNova;

@fontFamilyNative: Arial, Helvetica, sans-serif;
@fontFamilyProximaNova: @ProximaNova, @fontFamilyNative;

@weightRegular: normal;
@weightBold: bold;

@staticImagesPath: '../img';
@staticFontsPath: '../fonts';